<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<ul>
  <li>email: <%= @user.email %></li>
  <li>address: <%= @user.address %></li>
  <li>post_code: <%= @user.post_code %></li>
  <li>introduction: <%= @user.introduction%></li>
</ul>
