<h1><%= t('views.new.page_title') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('views.common.back_to_books', model: Book.model_name.human), books_path %>
</nav>
